* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  color: white;
  background-color: hsl(260, 100%, 1%);
  height: 100vh;
  background-image: url(image/pexels-njeromin-16098711.jpg);
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: hidden;
}

.container {
  position: relative;
  top: 20%;
  height: 360px;
  width: 370px;
  border: 2px solid hsla(0, 0%, 100%, 0.692);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  backdrop-filter: blur(4px);
}

.midterm {
  width: 200px;
  padding: 30px 40px;
}
.logo {
  margin-bottom: 30px;
}

hr {
  width: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 3px;
}
input {
  padding: 13px;
  margin: 5px 0;
  border: none;
  border-radius: 20px;
  position: relative;
  width: 220px;
  background: transparent;
  backdrop-filter: blur(10px);
  border: 2px solid white;
  background-color: white;
}
input:hover {
  outline: none;
}
input::before{
    outline: none;
}

input::placeholder {
  color: rgb(0, 0, 0);
  outline: none;
}

button {
  font-size: 15px;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  width: 100%;
  border: none;
  font-weight: 800;
  flex: 1;
  border-radius: 20px;
  padding: 10px;
  background-color: transparent;
  transition: 0.5s;
  border: 2px solid rgb(255, 254, 254);
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button:hover{
    color: rgb(201, 199, 199);
}
a {
  text-decoration: none;
  color: white;
}

h1 {
  text-align: center;
}

.div {
  display: flex;
  flex-direction: column;
  justify-self: center;
}
